body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow: hidden;
      }

.grid-container {
        position: relative;
        overflow: hidden;
        
      }

#gridCanvas {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ccc;
      }

.scrollbar-container {
  position: absolute;
}

.header-div{
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 25px;
  align-items: center;
  justify-content: space-between;
}

.computations{
  display: flex;
  gap : 10px;
  font-size: small;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.scrollbar-h {
  bottom: 0;
  left: 0;
  right: 20px;
  height: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollbar-v {
  top: 0;
  right: 0;
  bottom: 20px;
  width: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.scrollbar-content-h {
  height: 1px;
}

.scrollbar-content-v {
  width: 1px;
}