.wrapper{
    height: 460px;
    width: 580px;
    display: grid;
    gap:5px;
    grid-template-rows: 19fr 106fr 26fr ;
    grid-template-columns: 1fr 2.7fr   ;
    gap: 2px;
  
  grid-template-areas:
  "header header "
  "sidebar Content"
  "footer footer ";
  padding: 4px;
}

.header{
  grid-area: header;
  background: linear-gradient(to right, rgb(107, 84, 223) 0%, rgb(143, 124, 238) 100%);;
  color:white;
  display: flex; justify-content: center; align-items: center;
  text-align: center;
  
}
.sidebar{
grid-area: sidebar;
 background:  linear-gradient(178deg, rgb(118, 209, 209) 0%, rgb(17, 129, 124) 94%, rgb(45, 161, 155) 100%);;
  color:white;
  display: flex; justify-content: center; align-items: center;
  text-align: center;
}
.Content{
grid-area: Content;
display: grid;
grid-template-areas:
"Content-1 Content-1";
gap: 2px;
}

.Content > div {
  background: linear-gradient(117deg, rgb(108, 87, 199) 0%, rgb(65, 132, 237) 61%, rgb(50, 163, 236) 86%, rgb(88, 204, 188)100%);;
  color:white;
  font-size: smaller;
  text-align: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.Content-1{
    grid-area: Content-1;
}

.footer{
  grid-area: footer;
  background:  linear-gradient(to right, rgb(107, 84, 223) 0%, rgb(156, 138, 247) 100%);;
  color:white;
  display: flex; justify-content: center; align-items: center;
  font-size: smaller;
  text-align: center;
}