@font-face {
  font-family: "Quicksand";
  src: url("../Quicksand font 1/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-display: optional;
}
* {
  font-family: "Quicksand";
  font-weight: 550;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.main-content {
  flex: 1;
}

.navbar {
  background-image: url("../header pattern image.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: none;
  align-items: center;
  min-height: 56px;
  border-bottom: 2px solid #31B9E4;
}

.navbar-icon {
  padding-top: 5px;
  width: 134px;
  height: 36px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.login-card {
  width: 488px;
  border-top: 4px solid #3AC7EC;
  background: #FFFFFF;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}

.loginCardTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0px;
  color: #222222;
  margin-top: 20px;
}

.loginCardTitle img {
  position: absolute;
  left: 32px;
}

.custom-radio input[type=radio] {
  display: none;
}

.custom-radio .radio-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../icons/radio-button-off.svg");
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.custom-radio input[type=radio]:checked + .radio-btn {
  background-image: url("../icons/radio-button-on.svg");
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-button-section {
  margin-top: 32px;
  display: flex;
  font-size: 16px;
  color: #333333;
  align-items: center;
}

.radio-button-section div {
  margin-left: 8px;
}

.custom-select {
  position: relative;
  margin-top: 24px;
}

.select-label {
  position: absolute;
  top: 0px;
  left: -3px;
  font-size: 12px;
  color: #666666;
  background-color: #ffffff;
  padding: 0 5px;
  z-index: 1;
}

#state {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-right: 0px;
  height: 45px;
  width: 100%;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.custom-select::after {
  padding-right: 0px;
  content: url(../icons/arrow-down.svg);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none;
}

#state:focus {
  border-color: #007bff;
  outline: none;
}

#state {
  color: #222222;
  margin-left: 1px;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
}

#district {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-right: 0px;
  height: 45px;
  width: 100%;
}

#district:focus {
  border-color: #007bff;
  outline: none;
}

#district {
  color: #222222;
  margin-left: 1px;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
}

.username {
  margin-top: 56px;
}

.username input {
  height: 25px;
  border-bottom: 1px solid #ccc;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  width: 100%;
}

input::-moz-placeholder {
  color: #666666;
}

input::placeholder {
  color: #666666;
}

.username div {
  float: right;
  font-size: 14px;
  color: #1F7A54;
  margin-top: 5px;
}

.username input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: none;
}

.password {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}

.password-2 {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.password-2 input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 25px;
  border-bottom: 0px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  width: 100%;
}

.password div {
  float: right;
  font-size: 14px;
  color: #1F7A54;
  margin-top: 5px;
}

.password input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: none;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none;
}

input[type=password]::-webkit-credentials-auto-fill-button {
  display: none !important;
}

input[type=password]::-webkit-clear-button {
  display: none;
}

input[type=password]::-webkit-inner-spin-button,
input[type=password]::-webkit-outer-spin-button {
  display: none;
}

.remember-section {
  display: flex;
  margin-top: 26px;
}

.submit-button {
  margin-top: 34px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}

.submit-button button {
  width: 215px;
  height: 40px;
  background: #3FD28B 0% 0% no-repeat padding-box;
  color: #1F2834;
  font-size: 14px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  margin-top: 30px;
}

.about-section {
  font-size: 14px;
  color: #1F7A54;
  height: 34px;
  background-color: #EEEEEE;
  width: 100%;
  display: flex;
  justify-content: center;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0E1E1;
  height: 40px;
  font-size: 12px;
  color: #666666;
}/*# sourceMappingURL=index.css.map */