$cell-width: 63px;
$cell-height: 19px;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.title {
  height: 50px;
  text-align: center;
  background: #f3f3f3;
  line-height: 50px;
  font-weight: bold;
}

.grid-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
}

.corner {
  position: absolute;
  top: 0;
  left: 0;
  width: $cell-width;
  height: $cell-height;
  background: #f3f3f3;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: $cell-height;
  font-weight: bold;
  z-index: 3;
}

.column-bar {
  position: absolute;
  top: 0;
  left: $cell-width;
  right: 0;
  height: $cell-height;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  z-index: 3;
}

.row-bar {
  position: absolute;
  top: $cell-height;
  left: 0;
  bottom: 0;
  width: $cell-width;
  background: #f3f3f3;
  border-right: 1px solid #ccc;
  overflow: hidden;
  z-index: 3;
}

.container {
  position: absolute;
  top: $cell-height;
  left: $cell-width;
  right: 0;
  bottom: 0;
  overflow: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  z-index: 1;
}

.grid-content {
  width: calc(#{$cell-width} * 500);
  height: calc(#{$cell-height} * 100000);
}

#canvas {
  position: absolute;
  top: $cell-height;
  left: $cell-width;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
}

.scroll-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 1;
}

.resizer-col{
  width: 5px;
  position: absolute;
  top: 0; 
  height: 100%;
  color: black;
  right: -3px;

}

.resizer-col:hover {
  background-color: #fff;
  border: 2px solid greenyellow;

  transform: scaleX(1);
  cursor: e-resize;
}